/* Тултип для всех героев*/

.htooltip all-heroes { /* Внешний вид нашего тултипа */
    background-color: rgba(0,0,0, 0.8);
    border-radius: 15px 15px 15px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-left: 2px;
    margin-top: -75px;
    opacity: 0; /* Делаем его прозрачным */
    padding: 10px 10px 10px 40px;
    position: absolute;
    text-decoration: none;
    visibility: hidden; /* И прячем */
    width: 350px;
    z-index: 10;
}
        
.htooltip:hover all-heroes { /* По hover отображаем тултип */
    opacity: 1;
    visibility: visible;
}
        
.htooltip all-heroes img { /* Изображение для примера */
    border: 0 none;
    float: left;
    margin: -41px 0 0 -234px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
        
.htooltip:hover all-heroes img { /* Показываем изображение */
    opacity: 1;
    visibility: visible;
}
